* {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;

  padding-bottom: 3rem;

  color: rgb(31, 30, 30);

  &__file-convert {
    // Button

    background-color: #2f3590;
    cursor: pointer;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid #2f3590;
    transition: cubic-bezier(1, 0, 0, 1) 0.2s;
    box-shadow: 0 0 0 2px black;
    max-width: 100px;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;

    &:hover {
      box-shadow: 0 0 0 2px black;
      transform: scale(1.1);
    }
  }

  &__text {
    padding-left: 2rem;
    padding-right: 1rem;

    &__warning {
      background-color: rgb(248, 163, 154);
      padding: 1rem;
      border: 1px solid rgb(80, 1, 1);
      box-shadow: 0px 0px 2px rgb(0, 0, 0);
      border-radius: 5px;

      width: 70%;
      margin: auto;

      margin-bottom: 1rem;
    }
  }

  &__image_box {
    width: 400px;
    margin: auto;
    text-align: center;
    background-color: ghostwhite;
    border: 1px solid lightgray;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    position: relative;
    max-width: 40%;

    &__large {
      width: 1000px;
      max-width: 80%;
    }

    &__small {
      width: 200px;
      max-width: 20%;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__nav {
    margin-top: 1rem;
    padding-left: 1rem;
    &__item {
      text-decoration: none;
      display: inline-block;
      color: black;
      font-size: 1.25rem;
      font-weight: 600;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: 1px solid #2f3590;
      border-bottom: 0px solid transparent;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      transition: cubic-bezier(1, 0, 0, 1) 0.2s;
      text-align: center;
      margin-top: 1rem;
      margin-right: 1rem;

      &:hover {
        box-shadow: 0 0 0 1px black;
        transform: scale(1.03);
      }

      &__active {
        background-color: #2f3590;
        color: #fff;
        border-bottom: 1px solid #2f3590;
        &:hover {
          box-shadow: 0 0 0 1px black;
          transform: scale(1);
        }
      }
    }
  }

  &__main {
    border: 1px solid black;
    border-top: 2px solid black;
    padding: 1rem;
    border-radius: 5px;
    border-top-left-radius: 0;
    box-shadow: 0 0 2px rgb(31, 30, 30);
  }

  &__span_nav {
    cursor: pointer;
    text-decoration: underline;
    color: #2f3590;
  }

  &__cta {
    text-align: center;
    background-color: #2f3590;
    color: white;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(31, 30, 30);
    margin-top: 1rem;
    margin-bottom: 1rem;

    & .container__text {
      display: inline-block;
      width: 60%;
    }

    & .container__image_box {
      display: inline-block;
      max-width: 50px;
    }
  }

  &__two-column {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    font-weight: 700;

    & a {
      text-decoration: none;
      color: #2f3590;
    }

    & div {
      background-color: ghostwhite;
      border: 1px solid lightgray;
      padding: 1rem;
      border-radius: 5px;
      width: 30%;
      margin: 1rem;
    }

    &__img {
      width: 100%;
      max-width: 300px;
      margin: auto;
      margin-bottom: 1rem;
      display: block;
    }
  }
}
